<!-- views/student2.ejs -->

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tutor On My Time</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
	<script src="https://use.fontawesome.com/c0a3186a39.js"></script>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<link rel="stylesheet" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/form-basic.css">

</head>

<body>
  <body data-spy="scroll" data-target="#navigation_bar">
  <div class="container">
    <div class="jumbotron" style="height: 150px; padding-top: 0px; margin-bottom: 0px;">
      <h1 class="text-center">Choose Your Tutor</h1>
      <h5 class="text-center" style="line-height: 22px;">Tutor On My Time is pleased to offer you the ability to choose the right tutor for your needs. <br/> Once you find the right tutor, choose the tutor and the tutor will respond within 24 hours.</h5>
    </div>
    <div>
		<div class="col-md-2"></div>
        <div class="col-md-8" style="background-color: #F9F9F9; border: solid 1px #757575; margin-bottom: 15%; border-radius: 5px">
            <div class="row">
			  <div class="col-lg-6">
			    <div class="input-group" style="padding-top: 10%; padding-left: 10%;">
			         <input type="checkbox">
			         <h3> <%=name1%> <h3>
			         <h4>Email: <%=email1%> </h4>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>
        
            <p><div class="row">
			  <div class="col-lg-6">
			    <div class="input-group" style="padding-left: 10%;">
			         <input type="checkbox">
			         <h3> <%=name2%> <h3>
			         <h4>Email: <%=email2%> </h4>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>

            <p><div class="row">
			  <div class="col-lg-6">
			    <div class="input-group" style="padding-left: 10%;">
			         <input type="checkbox">
			         <h3> <%=name3%> <h3>
			         <h4>Email: <%=email3%> </h4>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>
              <div class="form-row text-center">
			<a href="/bye" class="btn btn-default">
			    Submit
			</a>
              </div>
            <br>
        </div>
       	<div class="col-md-2"></div>
  </div>
 </div>
</body>

	<footer class="footer">
	  <div class="container" style=" text-align: center; margin-bottom: 3%;">
	    <span class="text-muted" style="color: #BFBFBF"> &copy; 2017 Hilton C., Andrea B. & Dain L. </span>
	  </div>
	</footer>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>
	<script src="./assets/js/index.js"></script>
	
	</script>
</body>
</html>

